@import 'main.scss';

.p-inputtext {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: $color-v1-primary;
}

ejs-grid {
  box-shadow: $shadow-md;
}

.e-grid * {
  font-size: $font-size-default !important;
}

.e-pager .e-active {
  background-color: $primary-500; /* Set your desired background color */
  color: white; /* Set your desired text color */
  border-radius: 50%; /* Optional: make it round */
}

