<div class="p-fluid m-bottom-1">
  <form [formGroup]="formGroup">
      <p-chips formControlName="values" [placeholder]="this.FilterChipsPlaceholder"></p-chips>
  </form>
</div>

<p-table
  #dt1
  [value]="data"
  styleClass=""
  selectionMode="single"
  [(selection)]="selectedItem"
  [dataKey]="this.key"
  [paginator]="true"
  [rows]="this.defaultRowsPerPage"
  [rowsPerPageOptions]="this.RowsPerPageOptions"
  (onRowUnselect)="onRowUnselect($event)"
  (onRowSelect)="onRowSelect($event)"
  [scrollable]="true" scrollHeight="80vh"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of cols">{{ rowData[col.field] }}</td>
    </tr>
  </ng-template>
</p-table>
