<div class="a-card">
    <div class="p-top-1 p-bottom-1 p-left-1 p-right-1">
        <div class="a-card-header form-row m-bottom-3">
            <div class="a-card-title">
                <label class="section-title">
                    {{ Title }}
                </label>
            </div>
        </div>

        <div class="flex flex-row flex-align-start ">
            <i class="ph ph-house-line font-size-large"></i>
            <label class="details">Asset Name</label>
        </div>

        <div class="flex flex-row flex-align-start ">
            <i class="ph ph-blueprint font-size-large"></i>
            <label class="details">Asset Type</label>
        </div>

        <div class="flex flex-row flex-align-start ">
            <i class="ph ph-frame-corners font-size-large"></i>
            <label class="details">Asset Area</label>
        </div>

        <div class="flex flex-row flex-align-start ">
            <i class="ph ph-map-pin font-size-large"></i>
            <label class="details">Street 1, Building 1, City 1</label>
        </div>

    </div>
</div>