<div class="a-card">
    <div class="p-top-1 p-bottom-1 p-left-1 p-right-1">
        <div class="a-card-header form-row m-bottom-3">
            <div class="a-card-title">
                <label class="section-title">
                    {{ Title }}
                </label>
            </div>
        </div>

        <!-- Loop over all RealesateProperties and display them -->
        <div *ngFor="let property of RealesateProperties" class="flex flex-column flex-align-start m-bottom-2">
            <div class="flex flex-row flex-align-start ">
                <i class="ph ph-house-line font-size-large"></i>
                <label class="details"> {{ property.Name }} </label>
            </div>

            <div class="flex flex-row flex-align-start ">
                <i class="ph ph-blueprint font-size-large"></i>
                <label class="details"> {{ property.PropertyType }} </label>
            </div>

            <div class="flex flex-row flex-align-start ">
                <i class="ph ph-frame-corners font-size-large"></i>
                <label class="details"> {{ property.TotalArea }}  {{ AreaMeasurementUnit }} </label>
            </div>

            <div class="flex flex-row flex-align-start ">
                <i class="ph ph-map-pin font-size-large"></i>
                <label class="details"> {{ property.Address.Street}} {{ property.Address.BuildingNumber }}, {{ property.Address.City}} </label>
            </div>
        </div>



    </div>
</div>