// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@import "abstracts/variables";

// Buttons

.a-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  font-family: $font-family;
  font-size: $font-size-default;
  font-weight: $font-weight-bold;
  color: $color-v1-white;
  background-color: $color-v1-black;
  border: none;
  border-radius: $border-radius;
  
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

// Headings
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family; //   font-weight: $font-weight-bold;
}

.h1 {
  font-size: $font-size-extra-large;
  line-height: 30px;
}

.h2 {
  font-size: $font-size-large;
  line-height: 20px;
}

.h3 {
  font-size: $font-size-medium;
  line-height: 20px;
}

// Icons, SVGs
i {
  font-size: 1 rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}