// Input

.a-input {
  font-family: $font-family;
  display: flex;
  width: 100%;
  height: $font-size-default * 2 + 4;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 0 10px;
  margin-bottom: 10px;
  box-shadow: $shadow-xs;

  &-clickable {
    cursor: pointer;
  }
}


.a-input:focus {
  outline: none;
  box-shadow: $focus-ring;
}

.a-input::placeholder {
  color: $grey-500;
}

.a-input:disabled {
  background-color: $grey-100;
  color: $grey-500;
  cursor: not-allowed;
}

.a-input-label {
  font-family: $font-family;
  font-size: $font-size-default;
  color: $color-v1-black;
  margin-bottom: 5px;
}

.a-input-error {
  font-family: $font-family;
  font-size: $font-size-default;
  color: $color-v1-error;
  margin-top: 5px;
}
