@import "main.scss";

.ib-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0.5em;   
}

.module-button {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
    background-color: transparent;
    border-radius: $border-radius;
    border: none;
    
    height: 4em;

    align-items: center;

    font-family: $font-family;
    font-size: $font-size-medium;

    &:focus {
        outline: none;
        background-color: $color-v1-primary;
    }

    &:not([disabled]):hover {
        background-color: $color-v1-primary;
    }

    .icon {
        margin: 0 0.5em;
    }
}
