@import "main.scss";

.ib-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
}

.active {
    background-color: red;
  }

.module-button {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
    background-color: transparent;
    border: none;
    
    height: 4em;

    align-items: center;

    font-family: $font-family;
    font-size: $font-size-medium;

    &:focus {
        outline: none;
    }

    &:not([disabled]):hover {
        color: $primary-500;
    }

    &.selected {
        color: white;
        background-color: $primary-500;
        font-weight: bold;
    }

    .icon {
        margin: 0 0.5em;

        i {
            font-size: $font-size-extra-large;
            font-weight: 100;
        }
    }
}
