@import "main";

/* Wrapper */
.wrapper {
    display: grid;
    grid-template-columns: $sidebar-width 1fr;
    grid-template-rows: $topbar-height 1fr;
    grid-template-areas:
      "left-nav top-bar"
      "left-nav main-content";
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  /* Left Nav Bar */
  .left-nav {
    grid-area: left-nav;
    max-width: 100%;
    height: 100%;
    background-color: $color-v1-white;
    border: $border-width solid $border-color;
  }
  
  .left-nav .icon {
    margin-right: 10px;
  }
  
  /* Top Main Bar */
  .top-bar {
    grid-area: top-bar;
    background-color: $color-v1-white;
    height: 60px;
    width: 100%;
    border-bottom: $border-width solid $border-color;
  }
  
  /* Main Content Area */
  .main-content {
    grid-area: main-content;
    background-color: $color-v1-white;
    padding: 20px;
  }
  