/* Wrapper */
.wrapper {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      "left-nav top-bar"
      "left-nav main-content";
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  /* Left Nav Bar */
  .left-nav {
    grid-area: left-nav;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    max-width: 100%;
    height: 100%;
    background-color: #0f181c;
    color: #ffffff;
  }
  
  .left-nav .icon {
    color: #ffffff;
    margin-right: 10px;
  }
  
  /* Top Main Bar */
  .top-bar {
    grid-area: top-bar;
    background-color: #efefef;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .top-bar .module-name {
    font-weight: bold;
  }
  
  .top-bar .profile-icon {
    font-size: 20px;
    color: #000000;
  }
  
  /* Main Content Area */
  .main-content {
    grid-area: main-content;
    background-color: cadetblue;
    padding: 20px;
  }
  