<div class="parent">
    <div class="child">
        <h1 class="Title">{{ Title }}</h1>
        <p class="Message">{{ Message }}</p>

        <button class="btn btn-primary btn-size-normal m-top-2" (click)="goBack()">Go Back</button>

        <p class="credit m-top-4">
            Image by <a href="https://pixabay.com/users/victipedia-36871511/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8027444">Talha Shahbaz</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8027444">Pixabay</a></p>
    </div>
</div>