@import "main";

.clients-management-workspace {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: $gap-medium;
  }
  
  .clients-list {
    flex: 2; /* Updated */
  }
  
  .clients-jacket {
    flex: 1; /* Updated */
  }
  