@import "main";

.clients-management-workspace {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: $gap-medium;
  }
  
  .clients-list {
    flex: 2; /* Updated */
    min-width: 600px;
  }
  
  .client-panel {
    flex: 1; /* Updated */
  }
  
  
.EditModeLocking {
  pointer-events: none;
  opacity: 0.4;
}