<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="maxHttpRequestsPerSource" value="16" />
    </config>

    <packageRestore>
        <!-- Allows NuGet to download missing packages -->
        <add key="enabled" value="True" />
        <!-- Automatically check for missing packages during build -->
        <add key="automatic" value="True" />
    </packageRestore>

    <bindingRedirects>
        <!-- Automatically update binding redirects when updating NuGet packages -->
        <add key="enabled" value="true" />
    </bindingRedirects>

    <activePackageSource>
        <!-- This tells NuGet to use the "All" package source by default -->
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    
    <packageSources>
        <!-- Package source used to restore packages. By default, registered sources under %APPDATA%\NuGet\NuGet.Config will be used -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!-- GitHub source -->
        <add key="GitHub" value="https://nuget.pkg.github.com/hamedsalameh/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <!-- Credentials used to restore packages from GitHub -->
        <GitHub>
            <add key="Username" value="hamedsalameh" />
            <add key="ClearTextPassword" value="%PACKAGE_TOKEN%" />
        </GitHub>
    </packageSourceCredentials>

</configuration>