<div class="modal" [@inOutAnimation] >
    <div class="modal-header">
        {{ title }}
    </div>
    <div class="modal-body">
        {{ content }}
        <!-- <ng-content></ng-content> -->
    </div>

    <div class="modal-footer m-top-2">
        <button class="btn btn-primary btn-size-normal p-right-2 p-left-2 m-right-1 m-left-1" (click)="confirm()">{{ this.Okay }}</button>
        <button class="btn btn-secondary btn-size-normal p-right-2 p-left-2" (click)="cancel()">{{ this.Cancel }}</button>
    </div>
</div>

<div class="modal-backdrop" (click)="cancel()"></div>