<div class="side-nav-content">
  <div class="logo-block">
    <!-- <div class="icon">
    </div> -->
    <div class="brand">
      <img class="brand-logo" src="../../../assets/app-logo.png" />
    </div>
  </div>
  <div class="modules-block">

    <ng-container *ngFor="let module of modules" >
      <button
        (click)="handleClick(module)"
        [ngClass]="{ 'active': isActiveModule(module.path) }"
        class="module-button"
      >
        <span class="icon">
          <i class="fa-solid {{ module.icon }}"></i>
        </span>
        <span class="mr-2">{{ module.label }}</span>
      </button>
    </ng-container>
  </div>
</div>
