<div class="side-nav-content">
  <div class="logo-block">
    <div class="icon">
      <!-- Use SVG Icon here-->
      <img src="../../../assets/icon.svg" alt="" width="40px" height="40px" />
    </div>
    <div class="brand">
      <span>Designly</span>
    </div>
  </div>
  <div class="modules-block">
    <app-icon-button
      icon="fa-solid fa-house"
      text="Dashboard"
      (buttonClick)="navigateToDashboard()"
    ></app-icon-button>

    <app-icon-button
      icon="fa-solid fa-layer-group"
      text="Projects"
      [disabled]="true"
      (buttonClick)="navigateToClient()"
    ></app-icon-button>

    <app-icon-button
      icon="fa-solid fa-list-check"
      text="Tasks"
      [disabled]="true"
      (buttonClick)="navigateToClient()"
    ></app-icon-button>

    <app-icon-button
      icon="fa-solid fa-users"
      text="Clients"
      (buttonClick)="navigateToClient()"
    ></app-icon-button>

    <app-icon-button
      icon="fa-solid fa-message"
      text="Messages"
      [disabled]="true"
      (buttonClick)="navigateToClient()"
    ></app-icon-button>

    <app-icon-button
      icon="fa-solid fa-chart-simple"
      text="Analytics"
      [disabled]="true"
      (buttonClick)="navigateToClient()"
    ></app-icon-button>
  </div>
</div>
