@import "main";

.logo-block {
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 60px;

    .icon {
        display: flex;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;
    }

    .brand {
        height: 60px;
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;

        font-family: "Segoe UI";
        font-weight: 100;
        font-size: 30px;

        span {
            margin: 0px;
            padding: 0px;
        }
    }
}


.side-nav-content {
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
}

.modules-block {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
    margin: 12px;
}