@import "main";

.logo-block {
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 150px;

    .icon {
        display: flex;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;
    }

    .brand {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-family: "Segoe UI";
        font-weight: 100;
        font-size: 30px;

        img {
            height: 120px;
            width: auto;
        }

        span {
            margin: 0px;
            padding: 0px;
        }
    }
}


.side-nav-content {
    display: flex;
    flex-direction: column;
}

.modules-block {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: $gap-normal;
    margin: 12px;
}


.module-button {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
    background-color: transparent;
    border: none;
    
    align-items: center;
    line-height: 32px;

    font-family: $font-family;
    font-size: $font-size-medium;

    &:focus {
        outline: none;
    }

    &:not([disabled]):hover {
        color: $primary-500;
    }

    &.selected {
        color: white;
        background-color: $primary-500;
        font-weight: bold;
    }

    .icon {
        margin: 0 0.5em;

        i {
            font-size: $font-size-extra-large;
            font-weight: 100;
        }
    }

    
}

.active {
    background-color: $grey-100;
    color: $primary-500;
    font-weight: bold;
}