// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

// Typography
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Noto+Sans+Hebrew&family=Open+Sans:wght@300&display=swap');

// $font-family: "Inter", open-sans, sans-serif;
$font-family: "Noto Sans Hebrew", open-sans, sans-serif;


$font-size-small: 12px;
$font-size-default: 14px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-extra-large: 24px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Font size map
$font-sizes: (
  small: $font-size-small,
  default: $font-size-default,
  medium: $font-size-medium,
  large: $font-size-large,
  extra-large: $font-size-extra-large
);

// Generate font size classes
@each $size, $value in $font-sizes {
  .font-size-#{$size} {
    font-size: $value;
  }
}