// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

// Typography
$font-family: "Inter", open-sans, sans-serif;
$font-size-medium: 18px;
$font-size-default: 14px;
