@import "../../../../assets/scss/main.scss";

.client-jacket {
    display: flex;
    flex-direction: column;
    border-right: $border-width solid $border-color;
    border-left: $border-width solid $border-color;
    height: 100%;
}

.action-bar {
    // show action bar at the bottom of the parent div
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    background-color: $color-v1-white;
}