<div class="client-jacket" *ngIf="this.clientId">
  <!-- Notifications section -->

  <div *ngIf="this.editMode">
    <app-edit-client
    (CancelEditClient)="this.onCancelEditClient()"
    (SaveEditClient)="this.onSaveEditClient($event)"
    ></app-edit-client>
  </div>

  <!-- General information section -->
  <div *ngIf="!this.editMode">
    <app-view-client-info
    (CloseClient)="this.onClose()"
    (EditClient)="this.onEdit()"
    (ShareClient)="this.onShare()"
    (DeleteClient)="this.onDelete()"
  ></app-view-client-info>
  </div>
  

  <!-- <app-edit-client 
  (CloseClient)="this.onCloseEditClient()"
  *ngIf="this.editMode" ></app-edit-client> -->
  <!-- Footer buttons section -->
</div>
