@import "../../../../assets/scss/variables.scss";

.client-jacket {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-vl-4;
    border-left: 1px solid $color-vl-4;
    height: 100vh;
}

.action-bar {
    // show action bar at the bottom of the parent div
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    background-color: $color-vl-3;
}