.client-jacket {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.action-bar {
    // show action bar at the bottom of the parent div
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    background-color: purple;
}