<div class="app-card" *ngIf="this.selectedClient">
  <div class="p-top-0 p-left-1 p-right-1">
    <div class="form-row m-bottom-3">
      <label class="h1"
        >{{ this.selectedClient.FirstName }}
        {{ this.selectedClient.FamilyName }}
      </label>
    </div>

    <div class="form-section">
      <div class="form-row">
        <i class="fas fa-map-marker-alt"></i>
        <label class="details"
          >{{ this.selectedClient.Address.Street }}
          {{ this.selectedClient.Address.BuildingNumber }},
          {{ this.selectedClient.Address.City }}</label
        >  
      </div>
      
    </div>

    <div class="form-section">
      <div class="form-row">
        <i class="fas fa-envelope"></i>
        <label class="details">{{this.selectedClient.ContactDetails.EmailAddress}}</label>
        
      </div>
      <div class="form-row">
        <i class="fas fa-phone"></i>
        <label class="details">{{this.selectedClient.ContactDetails.PrimaryPhoneNumber}}</label>

      </div>
    </div>

    <div class="form-section-divider"></div>

    <!-- Edit Mode -->
    <!-- <div class="form-container">
    <ng-container [formGroup]="ClientInfo">
      <div class="form-section basicInfo ">
        <ng-container formGroupName="BasicInfo">
          <div class="form-row">
            <app-form-input
              formControlName="FirstName"
              [ControlPlaceholder]="localizedFirstName"
              [ControlLabel]="localizedFirstName"
            ></app-form-input>

            <app-form-input
              formControlName="FamilyName"
              [ControlPlaceholder]="localizedFamilyName"
              [ControlLabel]="localizedFamilyName"
            ></app-form-input>
          </div>
        </ng-container>
      </div>

      <div class="form-section addressInfo ">
        <ng-container formGroupName="AddressInfo">
          <div class="form-row">
            <app-form-input
              formControlName="City"
              [ControlPlaceholder]="localizedCity"
              [ControlLabel]="localizedCity"
            ></app-form-input>

            <app-form-input
              formControlName="Street"
              [ControlPlaceholder]="localizedStreet"
              [ControlLabel]="localizedStreet"
            ></app-form-input>

            <app-form-input
              formControlName="BuildingNumber"
              [ControlPlaceholder]="localizedBuildingNumber"
              [ControlLabel]="localizedBuildingNumber"
            ></app-form-input>
          </div>
        </ng-container>
      </div>

      <div class="form-section contactInfo">
        <ng-container formGroupName="ContactDetails">
          <div class="form-row">
            <app-form-input
              formControlName="PrimaryPhoneNumber"
              [ControlPlaceholder]="localizedPrimaryPhoneNumber"
              [ControlLabel]="localizedPrimaryPhoneNumber"
            ></app-form-input>

            <app-form-input
              formControlName="EmailAddress"
              [ControlPlaceholder]="localizedEmailAddress"
              [ControlLabel]="localizedEmailAddress"
            ></app-form-input>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div> -->
  </div>
</div>
