<div class="a-card">
  <div class="p-top-1 p-bottom-1 p-left-1 p-right-1">
      <div class="card-header form-row m-bottom-3">
        <div class="card-title">
          <label *ngIf="this.selectedClient?.Id !== this.newClientDraftId" class="section-title"
            >{{ this.selectedClient?.FirstName }}
            {{ this.selectedClient?.FamilyName }}
          </label>
          <label *ngIf="this.selectedClient?.Id === this.newClientDraftId"> {{ localizedNewClient }} </label>
        </div>
    </div>

    <ng-container [formGroup]="ClientInfo">
      <div class="form-section basicInfo">
        <ng-container formGroupName="BasicInfo">
          <div class="form-row">
            <div class="">
              <label class="a-input-label">{{ localizedFirstName }}</label>
              <input
                formControlName="FirstName"
                type="text"
                class="a-input"
                placeholder="{{ localizedFirstName }}"
                [ngClass]="{
                  'is-invalid':
                    ClientInfo.get('BasicInfo.FirstName')?.invalid &&
                    (ClientInfo.get('BasicInfo.FirstName')?.dirty ||
                      ClientInfo.get('BasicInfo.FirstName')?.touched)
                }"
              />
              <!-- Show validation errors -->
              <div
                class="a-input-error"
                *ngIf="
                  ClientInfo.get('BasicInfo.FirstName')?.invalid &&
                  (ClientInfo.get('BasicInfo.FirstName')?.dirty ||
                    ClientInfo.get('BasicInfo.FirstName')?.touched)
                "
              >
                <!-- display any errors from the control validation -->
                {{ getValidationMessage('BasicInfo', 'FirstName') }}
              </div>
            </div>

            <div class="">
              <label class="a-input-label">{{ localizedFamilyName }}</label>
              <input type="text" class="a-input" formControlName="FamilyName" />
            </div>
          </div>
        </ng-container>
      </div>

      <div class="form-section addressInfo">
        <ng-container formGroupName="AddressInfo">
          <div class="form-row">
            <div class="">
              <label class="a-input-label">{{ localizedCity }}</label>
              <input
                type="text"
                class="a-input"
                formControlName="City"
                [ngClass]="{
                  'is-invalid':
                    ClientInfo.get('AddressInfo.City')?.invalid &&
                    (ClientInfo.get('AddressInfo.City')?.dirty ||
                      ClientInfo.get('AddressInfo.City')?.touched)
                }"
              />
              <!-- Show validation errors -->
              <div
                *ngIf="
                  ClientInfo.get('AddressInfo.City')?.invalid &&
                  (ClientInfo.get('AddressInfo.City')?.dirty ||
                    ClientInfo.get('AddressInfo.City')?.touched)
                "
              >
                <!-- display any errors from the control validation -->
                {{ getValidationMessage('AddressInfo', 'City') }}
              </div>
            </div>

            <div class="">
              <label class="a-input-label">{{ localizedStreet }}</label>
              <input type="text" class="a-input" formControlName="Street" />
            </div>

            <div class="">
              <label class="a-input-label">{{ localizedBuildingNumber }}</label>
              <input
                type="text"
                class="a-input"
                formControlName="BuildingNumber"
              />
            </div>

            <div class="">
              <label class="a-input-label">{{ localizedAddressLine1 }}</label>
              <input
                type="text"
                class="a-input"
                formControlName="AddressLine1"
              />
            </div>
          </div>
        </ng-container>
      </div>

      <div class="form-section contactInfo">
        <ng-container formGroupName="ContactDetails">
          <div class="form-row">
            <div class="">
              <label class="a-input-label">{{
                localizedPrimaryPhoneNumber
              }}</label>
              <input
                type="text"
                class="a-input"
                formControlName="PrimaryPhoneNumber"
                [ngClass]="{
                  'is-invalid':
                    ClientInfo.get('ContactDetails.PrimaryPhoneNumber')
                      ?.invalid &&
                    (ClientInfo.get('ContactDetails.PrimaryPhoneNumber')
                      ?.dirty ||
                      ClientInfo.get('ContactDetails.PrimaryPhoneNumber')
                        ?.touched)
                }"
              />
              <!-- Show validation errors -->
              <div
                *ngIf="
                  ClientInfo.get('ContactDetails.PrimaryPhoneNumber')
                    ?.invalid &&
                  (ClientInfo.get('ContactDetails.PrimaryPhoneNumber')?.dirty ||
                    ClientInfo.get('ContactDetails.PrimaryPhoneNumber')
                      ?.touched)
                "
              >
                <!-- display any errors from the control validation -->
                {{
                  getValidationMessage('ContactDetails', 'PrimaryPhoneNumber')
                }}
              </div>
            </div>

            <div class="">
              <label class="a-input-label">{{ localizedEmailAddress }}</label>
              <input
                type="text"
                class="a-input"
                formControlName="EmailAddress"
              />
            </div>
          </div>
        </ng-container>
      </div>

      <div class="form-section-divider"></div>

      <div class="form-section">
        <div class="flex flex-row flex-justify-end">
          <button
            class="btn btn-primary btn-size-normal p-right-2 p-left-2 m-right-1 m-left-1" 
            (click)="this.onSave()"
            [disabled]="!this.ClientInfo.valid || this.ClientInfo.pristine"
          >
            {{ localizedSave }}
          </button>
          <button
            class="btn btn-secondary btn-size-normal p-right-2 p-left-2 m-right-1 m-left-1"
            (click)="this.onCancel()"
          >
            {{ localizedCancel }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
