<div class="app-card" *ngIf="this.selectedClient">
  <div class="p-top-0 p-left-1 p-right-1">
    <!-- Edit Mode -->

    <ng-container [formGroup]="ClientInfo">
      <div class="form-section basicInfo">
        <ng-container formGroupName="BasicInfo">
          <div class="form-row">
            <app-form-input
              formControlName="FirstName"
              [ControlPlaceholder]="localizedFirstName"
              [ControlLabel]="localizedFirstName"
            ></app-form-input>

            <app-form-input
              formControlName="FamilyName"
              [ControlPlaceholder]="localizedFamilyName"
              [ControlLabel]="localizedFamilyName"
            ></app-form-input>
          </div>
        </ng-container>
      </div>

      <div class="form-section addressInfo">
        <ng-container formGroupName="AddressInfo">
          <div class="form-row">
            <app-form-input
              formControlName="City"
              [ControlPlaceholder]="localizedCity"
              [ControlLabel]="localizedCity"
            ></app-form-input>

            <app-form-input
              formControlName="Street"
              [ControlPlaceholder]="localizedStreet"
              [ControlLabel]="localizedStreet"
            ></app-form-input>

            <app-form-input
              formControlName="BuildingNumber"
              [ControlPlaceholder]="localizedBuildingNumber"
              [ControlLabel]="localizedBuildingNumber"
            ></app-form-input>
          </div>
        </ng-container>
      </div>

      <div class="form-section contactInfo">
        <ng-container formGroupName="ContactDetails">
          <div class="form-row">
            <app-form-input
              formControlName="PrimaryPhoneNumber"
              [ControlPlaceholder]="localizedPrimaryPhoneNumber"
              [ControlLabel]="localizedPrimaryPhoneNumber"
            ></app-form-input>

            <app-form-input
              formControlName="EmailAddress"
              [ControlPlaceholder]="localizedEmailAddress"
              [ControlLabel]="localizedEmailAddress"
            ></app-form-input>
          </div>
        </ng-container>
      </div>

      <div class="form-section-divider"></div>

      <div class="form-section">
        <div class="form-row">
          <button
            class="btn btn-primary btn-normal"
            (click)="this.onSave()"
            [disabled]="!this.ClientInfo.valid"
          >
            {{ localizedSave }}
          </button>
          <button class="btn btn-secondary btn-normal" (click)="this.onCancel()">
            {{ localizedCancel }}
          </button>
        </div>
      </div>

    </ng-container>
  </div>
</div>
