<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Add official NuGet.org source -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

		<!-- Add GitHub Packages source -->
		<add key="github" value="https://nuget.pkg.github.com/HamedSalameh/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<!-- Add credentials for GitHub Packages source -->
		<github>
			<add key="Username" value="HamedSalameh" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
	<config>
		<!-- Set default package restore behavior to "true" -->
		<add key="disableSourceControlIntegration" value="true" />
		<add key="repositoryPath" value="./packages" />
	</config>
</configuration>
