<div class="a-card" *ngIf="(this.selectedClient$ | async) as  selectedClient" >
  <div class="p-top-0 p-left-1 p-right-1">
    <div class="card-header form-row m-bottom-3">
      <div class="card-title">
        <label class="section-title"
          >{{ selectedClient.FirstName }}
          {{ selectedClient.FamilyName }}
        </label>
      </div>

      <div class="card-buttons">
        <!-- Icon button to share  -->
        <button class="btn icon-btn icon-btn-medium" (click)="onShare()">
          <i class="ph ph-share-network"></i>
        </button>
        <!-- Icon button to edit  -->
        <button class="btn icon-btn icon-btn-medium" (click)="onEdit()">
          <i class="ph ph-pencil-simple"></i>
        </button>
        <!-- Icon button to delete -->
        <button class="btn icon-btn icon-btn-medium" (click)="onDelete()">
          <i class="ph ph-trash"></i>
        </button>
        <!-- Icon button to close  -->
        <button class="btn icon-btn icon-btn-medium" (click)="onClose()">
          <i class="ph ph-x"></i>
        </button>
      </div>
    </div>

    <div class="form-row">
      <i class="ph ph-map-pin"></i>
      <label class="details"
        >{{ selectedClient.Address.Street }}
        {{ selectedClient.Address.BuildingNumber }},
        {{ selectedClient.Address.City }}</label
      >
    </div>

    <div class="form-row">
      <i class="ph ph-envelope"></i>
      <label class="details">{{
        selectedClient.ContactDetails.EmailAddress
      }}</label>
    </div>

    <div class="form-row">
      <i class="ph ph-phone"></i>
      <label class="details">{{
        selectedClient.ContactDetails.PrimaryPhoneNumber
      }}</label>
    </div>

    <div class="form-section-divider"></div>
  </div>
</div>
