<div class="a-card">
    <div class="p-top-1 p-left-1 p-right-1">

        <ng-container [formGroup]="ProjectDetails">
            <div class="a-card-header form-row m-bottom-1">
                <!-- Project Name -->
                <div class="a-card-title flex flex-column">
                    <label class="a-input-label">פרטי פרויקט</label>

                    <div class="details" [ngSwitch]="editMode['Name']">
                        <!-- Show project name when not in edit mode -->
                        <div *ngSwitchCase="false">
                            <label class="details">{{ activeProject?.Name }}</label>
                        </div>

                        <!-- Show input field when in edit mode -->
                        <input *ngSwitchCase="true" type="text" class="a-input" formControlName="name" />

                        <!-- Show default in case no condition matches -->
                        <div *ngSwitchDefault>No data</div>

                        <button class="btn icon-btn icon-btn-medium" (click)="toggleEditMode('Name')">
                            <i *ngIf="!editMode['Name']" class="ph ph-pencil-simple"></i>
                            <i *ngIf="editMode['Name']" class="ph ph-check"></i>
                        </button>
                    </div>

                </div>
            </div>


            <div class="grid-container2">
                <div class="grid-item proj-desc">
                    <div class="">
                        <label class="a-input-label"> תיאור </label>
                        <div class="details" [ngSwitch]="editMode['Description']">
                            <!-- Show project description when not in edit mode -->
                            <div *ngSwitchCase="false">
                                <label class="details details-clickable" (click)="toggleEditMode('Description')">
                                    {{ activeProject?.Description }}
                                </label>
                            </div>

                            <!-- Show input field when in edit mode -->
                            <input *ngSwitchCase="true" type="text" class="a-input" formControlName="description" />

                            <!-- Show default in case no condition matches -->
                            <div *ngSwitchDefault>
                                <label class="details-item">-</label>
                            </div>

                            <div class="flex flex-row" *ngIf="editMode['Description']">
                                <button class="btn icon-btn icon-btn-small" (click)="onConfirmEdit('Description')">
                                    <i class="ph ph-check"></i>
                                </button>
                                <!-- cancel -->
                                <button class="btn icon-btn icon-btn-small" (click)="onCancelEdit('Description')">
                                    <i class="ph ph-x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item proj-client">
                    <div class="">
                        <label class="a-input-label"> לקוח </label>
                        <div class="details" [ngSwitch]="editMode['Client']">
                            <!-- Show client name when not in edit mode -->
                            <div *ngSwitchCase="false">
                                <label class="details details-clickable" (click)="toggleEditMode('Client')">
                                    {{ activeProject?.Client }}
                                </label>
                            </div>

                            <!-- Show input field when in edit mode -->
                            <input *ngSwitchCase="true" type="text" class="a-input" formControlName="client" />

                            <!-- Show default in case no condition matches -->
                            <div *ngSwitchDefault>
                                <label class="details-item">-</label>
                            </div>

                            <div class="flex flex-row" *ngIf="editMode['Client']">
                                <button class="btn icon-btn icon-btn-small" (click)="onConfirmEdit('Client')">
                                    <i class="ph ph-check"></i>
                                </button>
                                <!-- cancel -->
                                <button class="btn icon-btn icon-btn-small" (click)="onCancelEdit('Client')">
                                    <i class="ph ph-x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item proj-add">
                    <div class="form-row">
                        <div class="">
                            <label class="a-input-label"> עיר </label>
                            <div class="details" [ngSwitch]="editMode['address.City']">
                                <!-- Show city name when not in edit mode -->
                                <div *ngSwitchCase="false">
                                    <label class="details details-clickable" (click)="toggleEditMode('address.City')">
                                        {{ activeProject?.Address?.City }}
                                    </label>
                                </div>

                                <!-- Show input field when in edit mode -->
                                <input *ngSwitchCase="true" type="text" class="a-input" formControlName="city" />

                                <!-- Show default in case no condition matches -->
                                <div *ngSwitchDefault>
                                    <label class="details-item">-</label>
                                </div>

                                <div class="flex flex-row" *ngIf="editMode['City']">
                                    <button class="btn icon-btn icon-btn-small" (click)="onConfirmEdit('City')">
                                        <i class="ph ph-check"></i>
                                    </button>
                                    <!-- cancel -->
                                    <button class="btn icon-btn icon-btn-small" (click)="onCancelEdit('City')">
                                        <i class="ph ph-x"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <label class="a-input-label"> רחוב </label>
                            <div class="details" [ngSwitch]="editMode['Street']">
                                <!-- Show street name when not in edit mode -->
                                <div *ngSwitchCase="false">
                                    <label class="details details-clickable" (click)="toggleEditMode('Street')">
                                        {{ activeProject?.Address?.Street }}
                                    </label>
                                </div>

                                <!-- Show input field when in edit mode -->
                                <input *ngSwitchCase="true" type="text" class="a-input" formControlName="street" />

                                <!-- Show default in case no condition matches -->
                                <div *ngSwitchDefault>
                                    <label class="details-item">-</label>
                                </div>

                                <div class="flex flex-row" *ngIf="editMode['Street']">
                                    <button class="btn icon-btn icon-btn-small" (click)="onConfirmEdit('Street')">
                                        <i class="ph ph-check"></i>
                                    </button>
                                    <!-- cancel -->
                                    <button class="btn icon-btn icon-btn-small" (click)="onCancelEdit('Street')">
                                        <i class="ph ph-x"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="">
                            <label class="a-input-label"> מספר בית </label>
                            <div class="details" [ngSwitch]="editMode['HouseNumber']">
                                <!-- Show house number when not in edit mode -->
                                <div *ngSwitchCase="false">
                                    <label class="details details-clickable" (click)="toggleEditMode('HouseNumber')">
                                        {{ activeProject?.Address?.BuildingNumber }}
                                    </label>
                                </div>

                                <!-- Show input field when in edit mode -->
                                <input *ngSwitchCase="true" type="text" class="a-input" formControlName="houseNumber" />

                                <!-- Show default in case no condition matches -->
                                <div *ngSwitchDefault>
                                    <label class="details-item">-</label>
                                </div>

                                <div class="flex flex-row" *ngIf="editMode['HouseNumber']">
                                    <button class="btn icon-btn icon-btn-small" (click)="onConfirmEdit('HouseNumber')">
                                        <i class="ph ph-check"></i>
                                    </button>
                                    <!-- cancel -->
                                    <button class="btn icon-btn icon-btn-small" (click)="onCancelEdit('HouseNumber')">
                                        <i class="ph ph-x"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project Lead -->
                <div class="grid-item proj-lead">
                    <div class="">
                        <div class="a-input-label"> מוביל הפרויקט </div>
                        <div class="details">
                            <app-dropdown [data]="projectLeads" formControlName="projectLead"
                                (valueChange)="onClientChange($event)">
                            </app-dropdown>
                        </div>
                    </div>
                </div>

                <!-- Start Date -->
                <div class="grid-item proj-start-date">
                    <div class="">
                        <label class="a-input-label"> תאריך התחלה </label>
                        <app-des-datepicker formControlName="startDate"></app-des-datepicker>
                    </div>
                </div>

                <!-- Deadline -->
                <div class="grid-item proj-deadline-date">
                    <div class="">
                        <label class="a-input-label"> תאריך סיום </label>
                        <app-des-datepicker formControlName="deadLine"></app-des-datepicker>
                    </div>
                </div>
            </div>

        </ng-container>
    </div>
</div>