@import "main";

.grid-container {
    display: grid;
    grid-template-columns: auto 25%;
    grid-template-rows: 1fr repeat(3, 3rem);
    column-gap: $gap-normal;
    row-gap: $gap-small;

    .proj-title {
        grid-column: 1;
        grid-row: 1;
    }

    .proj-status {
        grid-column: 2;
        grid-row: 1;
    }

    .proj-desc {
        grid-column: 1;
        grid-row: 2;
    }

    .proj-client {
        grid-column: 1;
        grid-row: 3;
    }

    .proj-lead {
        grid-column: 2;
        grid-row: 2;
    }

    .proj-start-date {
        grid-column: 2;
        grid-row: 3;

    }

    .proj-deadline-date {
        grid-column: 2;
        grid-row: 4;
    }
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .details-item {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        min-width: 5rem;
    }
}

hr.divider {
    border-top: $divider-width solid $divider-color;
}